body {
    background-color: black;
}
div {
    color: white;
    text-align: center;
    width: 50%;
    margin-left: 25%;
}

.image {
    width: 100%;
    margin-top: 10px;
    border: 5px solid white;
}

.head {
    font-family: 'Libre Baskerville', sans-serif;
    text-transform: uppercase;
}

.john {
    text-transform: uppercase;
}